<div id="home">
        <h2>Hero Genesis</h2>
        <p>Hero genesis is the fucking coolest. This is a bunch of placeholder text to show you what this looks like.
          Click that motherfucking button.</p>

        <button id="getStarted" class="btn btn-primary float-right">Create Character</button>

        <h4>Recent Creations</h4>
        <table>
          <thead>
            <th>Name</th>
            <th>Race</th>
            <th>Class</th>
            <th>Level</th>
          </thead>
          {{#each character}}
          <tr data-id="{{this.id}}" class="list-group-item">
            <td>{{name}}</td>
            <td>{{race}}</td>
            <td>{{class}}</td>
            <td>{{level}}</td>
          </tr>
          {{/each}}
        </table>
     
</div>